<div class="event">
    <div class="img">
        <img src="{{disaster.image}}" alt="{{disaster.name}}">
    </div>
    <div class="event-info">
        <h1>{{disaster.name}}</h1>
        <p><span>Location: </span>{{disaster.location}}</p>
        <p><span>Type: </span>{{disaster.type}}</p>
    </div>
    <a href="/disasters/{{disaster._id}}/details" class="btn-details">Details</a>
</div>